
/**
 * HTML OVERLOAD
 */
*, html {
	margin:0;
	padding:0;
}

html {
	background-color: #eeeeee;
}

body {
	background-color: #eeeeee;
	font-size: 12px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color:#535353;
}

*::selection {
	background:#0063b3;
	color:#fff;
}

*::-moz-selection {
	background:#0063b3;
	color:#fff;
}

*::-webkit-selection {
	background:#0063b3;
	color:#fff;
}

a {
	color: #0063b3;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

table.form {
	margin-top: 5px;
	width: 100%;
	border: 1px solid #ccc;
	margin-left: auto;
	margin-right: auto;
}

table tr {
	height: 30px;
}

table .value {
	text-indent: 5px;
}

table .first {
	font-weight: bold;
	text-indent: 5px;
	width: 150px;
}

table .rowhead {
	background: #eee;
}

input[type=submit], input[type=button] {
	padding:5px;
	border:solid 1px #ccc;
	background:#FFF;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
input[type=submit]:hover, input[type=button]:hover {
	background:#E7E7E7;
}


/**
 * GENERAL
 */
#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	min-height:800px;
	height:auto !important;
	height:800px; 
}

#login  {
	width: 100%;
	height: 150px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
	background-color: #fff;
}

#login table {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}




/**
 * HEADER
 */
header {
	width: 100%;
	height: 90px;
	margin-bottom: 7px;
}

header .logo {
	float: right;
	width: 215px;
	height: 90px;
	background: transparent url(../img/logo.png) center center no-repeat;
/*
	-webkit-border-radius: 6px;
	border: 1px solid #ccc;
	background-color: #fff;
*/
}

header h1 {
	display: block;
	float: left;
	width: 715px;
	height: 70px;
	padding:10px;
	font-size: 30px;
	line-height: 70px;
	text-align: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
	background-color: #fff;
}





/**
 * TOOLBAR
 */
 
#toolbar {
	width: auto;
	height: 45px;
	margin-bottom: 30px;
}
 
#toolbar div.user-log-info {
	float: right;
	width: 195px;
	padding:10px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
	background-color: #fff;
}

#toolbar div.user-log-info p {
}




/**
 * BREADCRUMB
 */
#breadcrumb {
	float: left;
	width: 715px;
	padding:10px;
	height: 20px;
	line-height:20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
	background-color: #fff;
}

#breadcrumb .admin-link {
	float: right;
}








/**
 * PROFILE
 */
#profile {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#profile .label {
	font-weight: bold;
}

#profile tr {
	height: 20px;
}





/**
 * CONTENT
 */
#content {
	width: auto;
	padding: 10px;
	margin-bottom: 50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
	background-color: #fff;
}

#content h2 {
	font-size: 14px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
nav a {
	display:inline-block;
	padding:5px;
	margin:0 1px;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #E7E7E7;
	text-decoration:none;
	color:#0076D1;
}
nav a:first-child {
	border-left:0;
}
nav a:hover {
	color:#0063B3;
}


/**
 * ADMIN
 */
#admin-content {
	width: 100%;
	margin-top: 20px;
}

table#adm-table {
	width: 100%;
	border: 1px solid #ccc;
}

table#adm-table tr {
	height: 30px;
}

table#adm-table tr.alt {
	background: #eee;
}

table#adm-table td {
	text-indent: 5px;
}

table#adm-table th {
	text-indent: 5px;
	font-weight: bold;
	color: #0063b3;
}	

table#adm-table thead th div.DataTables_sort_wrapper {
    position: relative;
    padding-right: 20px;
    padding-right: 20px;
}

table#adm-table thead th div.DataTables_sort_wrapper span {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0;
}

table .row_selected td {
    background-color: #B0BED9;
}

table .row_selected td {
    background-color: #9FAFD1;
}




/**
 * FOOTER
 */
footer {
	width: 960px;
	height: auto;
}

footer p {
	display: block;
	text-align: center;
	line-height: 30px;
	width: 500px;
	height: auto;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	border: 1px solid #ccc;
}


